$def with (a,header)
$:header
<div style="float: left;margin:0px 300px 0px 100px;width:800px">
    <form method="post" name='form1'action="" onSubmit="return check()">
<div><input type="text" class="form-control" placeholder="Text input" name="domain"></div><br/>
<div class="checkbox">
  <label>
    <input type="checkbox" value="1" name="light">
    点亮星标$a
  </label>
</div><br/>
    <input type="submit" class="btn btn-success" value="提交">
        </form>
</div>

<script language="javascript">
function check(){
    str = form1.domain.value;
    str = str.match(/(\w+\.){1,2}/);
    if (str == null){
        alert('你输入的URL无效');
        return false;
    }else{
        return true;
    }
}
</script>