$def with (header,domainInfo,recordsInfo,successMsg)
$:header
<div style="float: left;margin:0px 300px 0px 100px;width:800px">
     $:successMsg
    <div class="panel panel-default">
  <div class="panel-heading">record list <span style="float: right">$domainInfo['name']:<a href="/recordAdd?domainId=$domainInfo['id']">添加记录</a>&nbsp;&nbsp;
      <a href="/records?domainId=$domainInfo['id']&export=1">导出记录</a></span></div>
<table class="table table-hover">
    <tr>
        <th>主机记录</th>
        <th>记录类型</th>
        <th>线路类型</th>
        <th>记录值</th>
        <th>MX优先级</th>
        <th>TTL</th>
        <th>操作</th>

    </tr>
    $for record in recordsInfo:
    <tr>
        <td>$record['name']</td>
        <td>$record['type']</td>
        <td>$record['line']</td>
        <td>$record['value']</td>
        <td>$record['mx']</td>
        <td>$record['ttl']</td>
        <td style="width: 20%;text-align: center;">
            <a href="/records?domainId=$domainInfo['id']&recordId=$record['id']" title='删除域名' onclick="return chkDel()"> <span class="glyphicon glyphicon-remove"></span></a>

        </td>
    </tr>
</table>

    </div>
</div>
</div>


<script>
function chkDel() {
    if(confirm("是否删除?")){
        return true;
    }else{
        return false;
    }
}
</script>